
/* header */


.header{
    background-color: #cd1818;
    width: 100%;
    margin: auto;
    /* position: fixed; */
    height: 100px;
    
    display: flex;
   
    flex-direction: column;
   
}
.head-top{
    width: 75%;
    margin: auto;
    
    display: flex;
    height: 60%;
    justify-content: space-between;
}
.head-top a p{
    color: #fff;
}
.head-top i{
    color: #fff;
}
.hd-top-right a i{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .head-top div{
    margin: auto;
} */
.hd-top-left{
    width: 65%;
    display: flex;
    align-items: center;
    
}
.hd-top-right{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.head-bottom{
    
    height: 30%;
    background-color: #333;
    display: flex;
}

.head-bottom ul{
    width: 75%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.head-bottom ul li a{
    color: #fff;
}
.search-history{
    display: none;
}
.logo{
    flex: 1;
}
.search{
 flex: 2;   
}
/* .fa-magnifying-glass{

} */
.search-input:focus ~ .search-history{
    display: block;
    
}
.search-history{
    background-color: #f5a623;
    position: absolute;
    width: 358px;
    
}
.xuhuong li{
    display: flex;
    flex-direction: column;
}
.search-input{
    position: relative;
    
    width: 80%;
    height: 30px;
}


.fa-solid.fa-cart-arrow-down{
    position: relative;
    font-size: 20px;
}
.fa-solid.fa-cart-arrow-down b{
    position: absolute;
    top: -12px;
    right: 10px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    display: inline-block;
    background: #f5a623;
    border-radius: 100%;
    
}


.app{
    background-color: #f8f9fa;
    min-height: 1000px;
}
.content{
    width: 75%;
    margin: auto;
}
.dt-option ul li p{
    font-size: 60px;
}
.detail{
    width: 100%;
    display: flex;
    
}
.detail-left{
    
    display: flex;
    
    flex-direction: column;
    
}

.dt-option ul{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
.dt-info{
    background-color: #f8f9fa;
}
.dt-info ul li{
    margin: 20px;
}
.path{
    display: flex;
    
    height: 50px;
    width: 100%;
    border-bottom: 2px solid black;
}

/* right */
.detail-right{
    display: flex;
    flex: 5;
    flex-direction: column;
}
.detail-right>div{
    padding-bottom: 20px;
}
.ndung-gia{
    display: flex;
    
}
.ndung-gia p{
    margin-right: 20px;
    font-size: 30px;
    font-weight: bold;
    color: red;
}
#textthought{
    
    text-decoration: line-through;
}
.ck{
    display: flex;
}
.dtr-price{
    display: flex;
    
    
}
.form01{
    width: 25%;
    background-color: #f8f9fa;
}    
.dtr-option{
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.ttkm{
    height: 200px;
    
    height: 100px;
    background-color: #f8f9fa;
}
.button button{
    width: 100%;
    height: 50px;
    background-color: red;
    border: 1px solid red;
}


